---
import i18next from 'i18next';
import { HeadHrefLangs } from 'astro-i18next/components';

export interface Props {
  frontmatter: {
    title: string;
    chapter: number;
  };
}

import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
const { frontmatter } = Astro.props;
import '@fontsource/bitter';
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/ico' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{frontmatter.title}</title>
    <HeadHrefLangs />
    <!-- Open Graph Metadata https://ogp.me/ -->
    <meta
      property='og:title'
      content={frontmatter.title}
    />
    <meta
      property='og:description'
      content={`Chapter ${frontmatter.chapter} of Alice Abridged`}
    />
    <meta
      property='og:image'
      content='https://alice-abridged.vercel.app/_image?w=800&h=1094&ar=0.7312614259597806&href=%2Fimage%2Fhero.jpg'
    />
    <meta property='og:image:alt' content='Alice in the Room of the Duchess' />
    <meta property='og:image:type' content='image/jpeg' />
    <meta property='og:image:width' content='576' />
    <meta property='og:image:height' content='796' />
    <!-- Theme Scripts -->
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem('theme') === null) {
        document.documentElement.setAttribute('data-theme', 'light');
      } else
        document.documentElement.setAttribute(
          'data-theme',
          localStorage.getItem('theme')
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
      // 👆 you could import the CDN directly instead of these two lines
    </script>
  </head>
  <body>
    <Navbar />
    <article
      class='flex flex-col sm:items-center p-4 min-w-full prose-sm md:prose-base lg:prose-xl'
    >
      <slot />
    </article>
    <Footer chapter={frontmatter.chapter} />
    <style is:global>
      h1,
      h2 {
        @apply text-center;
      }

      p {
        @apply max-w-prose;
      }

      hr {
        @apply h-px my-8 border-0 bg-neutral w-[65ch];
      }

      blockquote {
        @apply border-l-4 border-neutral;
      }
    </style>
  </body>
</html>
