---
import i18next, { t } from 'i18next';
import { SEO } from 'astro-seo';
import { HeadHrefLangs } from 'astro-i18next/components';
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import '@fontsource/bitter';

export interface Props {
  frontmatter: {
    title: string;
    chapter: number;
  };
}

const {
  frontmatter: { title, chapter },
} = Astro.props;

const image =
  'https://alice-abridged.vercel.app/_image?w=800&h=1094&ar=0.7312614259597806&href=%2Fimage%2Fhero.jpg';
const imageAlt = 'Alice in the Room of the Duchess';
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <!-- Meta Tags -->
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <SEO
      charset='UTF-8'
      title={title}
      description={t('meta.chapterdesc', { chapter: chapter, title: title })}
      openGraph={{
        basic: {
          title: `${t('utility.chapter')} ${chapter}, ${title}`,
          type: 'website',
          image: image,
        },
        image: {
          url: image,
          alt: imageAlt,
          type: 'jpg',
          width: 576,
          height: 796,
        },
      }}
      twitter={{
        title: 'Alice i18n',
        description: t('meta.desc'),
        image: image,
        imageAlt: imageAlt,
      }}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.ico' }],
      }}
    />
    <HeadHrefLangs />
    <!-- Theme Scripts -->
    <script is:inline>
      // ☝️ This script prevent the FART effect.
      if (localStorage.getItem('theme') === null) {
        document.documentElement.setAttribute('data-theme', 'light');
      } else
        document.documentElement.setAttribute(
          'data-theme',
          localStorage.getItem('theme')
        );
      // "theme" LocalStorage value is set by the package to remember user preference.
      // The value is checked and applyed before rendering anything.
    </script>
    <script>
      import { themeChange } from 'theme-change';
      themeChange();
      // 👆 you could import the CDN directly instead of these two lines
    </script>
    <!-- Scrollbar -->
    <script is:inline>
      window.onscroll = () => {
        const winScroll =
          document.body.scrollTop || document.documentElement.scrollTop;
        const height =
          document.documentElement.scrollHeight -
          document.documentElement.clientHeight;
        const scrolled = (winScroll / height) * 100;
        document.getElementById('progress-bar').value = scrolled;
      };
    </script>
  </head>
  <body>
    <progress id='progress-bar' class='fixed z-20 progress progress-primary rounded-none opacity-75 h-1' value='0' max='100' />
    <Navbar />
    <article
      class='flex flex-col sm:items-center p-4 min-w-full prose-sm md:prose-base lg:prose-xl'
    >
      <slot />
    </article>
    <Footer chapter={chapter} />
    <style is:global>
      h1,
      h2 {
        @apply text-center;
      }

      p {
        @apply max-w-prose;
      }

      hr {
        @apply h-px my-8 border-0 bg-neutral w-[65ch];
      }

      blockquote {
        @apply border-l-4 border-neutral;
      }
    </style>
  </body>
</html>
